<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/fitplanner_icono2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fitplanner_icono2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <!--
         <activity
             android:name=".PantEjerciciosSeleccionados"
             android:exported="false" />
        -->
        <!--
  <activity
             android:name=".CarroComprasActivity"
             android:exported="false" />
        -->
        <activity
            android:name=".HOMBRO.ejercicio036"
            android:exported="false" />
        <activity
            android:name=".HOMBRO.ejercicio035"
            android:exported="false" />
        <activity
            android:name=".HOMBRO.ejercicio034"
            android:exported="false" />
        <activity
            android:name=".HOMBRO.ejercicio033"
            android:exported="false" />
        <activity
            android:name=".HOMBRO.ejercicio032"
            android:exported="false" />
        <activity
            android:name=".HOMBRO.ejercicio031"
            android:exported="false" />
        <activity
            android:name=".TRICEPS.ejercicio030"
            android:exported="false" />
        <activity
            android:name=".TRICEPS.ejercicio029"
            android:exported="false" />
        <activity
            android:name=".TRICEPS.ejercicio028"
            android:exported="false" />
        <!--
<activity
             android:name=".TRICEPS.ejercicio0"
             android:exported="false" />
        -->
        <activity
            android:name=".TRICEPS.ejercicio027"
            android:exported="false" />
        <activity
            android:name=".TRICEPS.ejercicio026"
            android:exported="false" />
        <activity
            android:name=".TRICEPS.ejercicio025"
            android:exported="false" />
        <activity
            android:name=".BICEPS.ejercicio024"
            android:exported="false" />
        <activity
            android:name=".BICEPS.ejercicio023"
            android:exported="false" />
        <activity
            android:name=".BICEPS.ejercicio022"
            android:exported="false" />
        <activity
            android:name=".BICEPS.ejercicio021"
            android:exported="false" />
        <activity
            android:name=".BICEPS.ejercicio020"
            android:exported="false" />
        <activity
            android:name=".BICEPS.ejercicio019"
            android:exported="false" />
        <activity
            android:name=".PIERNA.ejercicio018"
            android:exported="false" />
        <activity
            android:name=".PIERNA.ejercicio017"
            android:exported="false" />
        <activity
            android:name=".PIERNA.ejercicio016"
            android:exported="false" />
        <activity
            android:name=".PIERNA.ejercicio015"
            android:exported="false" />
        <activity
            android:name=".PIERNA.ejercicio014"
            android:exported="false" />
        <activity
            android:name=".PIERNA.ejercicio013"
            android:exported="false" />
        <activity
            android:name=".PECHO.ejercicio012"
            android:exported="false" />
        <activity
            android:name=".PECHO.ejercicio011"
            android:exported="false" />
        <activity
            android:name=".PECHO.ejercicio010"
            android:exported="false" />
        <activity
            android:name=".PECHO.ejercicio009"
            android:exported="false" />
        <activity
            android:name=".PECHO.ejercicio008"
            android:exported="false" />
        <activity
            android:name=".PECHO.ejercicio007"
            android:exported="false" />
        <activity
            android:name=".ESPALDA.ejercicio006"
            android:exported="false" />
        <activity
            android:name=".ESPALDA.ejercicio005"
            android:exported="false" />
        <activity
            android:name=".ESPALDA.ejercicio004"
            android:exported="false" />
        <activity
            android:name=".ESPALDA.ejercicio003"
            android:exported="false" />
        <activity
            android:name=".ESPALDA.ejercicio002"
            android:exported="false" />
        <activity
            android:name=".ESPALDA.ejercicio001"
            android:exported="false" />
        <activity
            android:name=".PantallaPierna"
            android:exported="false" />
        <activity
            android:name=".PantallaHombro"
            android:exported="false" />
        <activity
            android:name=".PantallaTriceps"
            android:exported="false" />
        <activity
            android:name=".PantallaBiceps"
            android:exported="false" />
        <activity
            android:name=".PantallaBrazo"
            android:exported="false" />
        <activity
            android:name=".PantallaEspalda"
            android:exported="false" />
        <activity
            android:name=".PantallaPectoral"
            android:exported="false" />
        <activity
            android:name=".ExplorarEjercicios"
            android:exported="false" />
        <activity
            android:name=".olvidarcontra"
            android:exported="false" />
        <activity
            android:name=".crearcuenta"
            android:exported="false" />
        <activity
            android:name=".pantalla2"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" /> <!-- ******************************************************************************* -->
        <!--
<activity
            android:name=".ActivitySetEjercicios"
            android:exported="false" />
        -->
        <activity
            android:name=".PantallaSelNivel"
            android:exported="false" />
        <activity
            android:name=".PantallaEjerDiasP"
            android:exported="false" />
        <activity
            android:name=".PantallaEjerDiasM"
            android:exported="false" />
        <activity
            android:name=".PantallaEjerDiasA"
            android:exported="false" /> <!-- ************* PANTALLAS DEL NIVEL PRINCIPIANTE 1, 2, 3 Y 4****************************************************************** -->
        <activity
            android:name=".PantallaDia1p"
            android:exported="false" />
        <activity
            android:name=".PantallaDia2p"
            android:exported="false" />
        <activity
            android:name=".PantallaDia3p"
            android:exported="false" />
        <activity
            android:name=".PantallaDia4p"
            android:exported="false" /> <!-- ************* PANTALLAS DEL NIVEL MEDIO 1, 2, 3 Y 4****************************************************************** -->
        <activity
            android:name=".PantallaDia1m"
            android:exported="false" />
        <activity
            android:name=".PantallaDia2m"
            android:exported="false" />
        <activity
            android:name=".PantallaDia3m"
            android:exported="false" />
        <activity
            android:name=".PantallaDia4m"
            android:exported="false" /> <!-- ************* PANTALLAS DEL NIVEL AVANZADO 1, 2, 3 Y 4****************************************************************** -->
        <activity
            android:name=".PantallaDia1a"
            android:exported="false" />
        <activity
            android:name=".PantallaDia2a"
            android:exported="false" />
        <activity
            android:name=".PantallaDia3a"
            android:exported="false" />
        <activity
            android:name=".PantallaDia4a"
            android:exported="false" />
        <!-- ************* PANTALLA EN DONDE SE SELECCIONAN LOS EJERCICIOS ******* -->
        <activity
            android:name=".PantSeleccionEjercicios"
            android:exported="false" />
        <!-- ************* PANTALLA EN DONDE SE SELECCIONAN LOS ALIMENTOS ******* -->
        <activity
            android:name=".PantSeleccionAlimentos"
            android:exported="false" />
        <!-- ************* PANTALLAS DE CONFIRMACION  ******* -->
        <activity
            android:name=".PantallaConfirmacion"
            android:exported="false" />
        <!-- ************* PANTALLAS DE CONFIRMACION ALIMENTOS ******* -->
        <activity
            android:name=".PantallaConfirmacionAlimentos"
            android:exported="false" />
        <!-- ************* PANTALLA DE ALIMENTOS ******* -->
        <activity
            android:name=".ExplorarAlimentos"
            android:exported="false" />
        <!-- ************* PANTALLA DE VERDURAS ******* -->
        <activity
            android:name=".PantallaVerduras"
            android:exported="false" />
        <!-- ************* PANTALLA DE FRUTAS ******* -->
        <activity
            android:name=".PantallaFrutas"
            android:exported="false" />
        <!-- ************* PANTALLA DE CARNES ******* -->
        <activity
            android:name=".PantallaCarnes"
            android:exported="false" />
        <!-- ************* PANTALLA DE CEREALES ******* -->
        <activity
            android:name=".PantallaCereales"
            android:exported="false" />
        <!-- ************* PANTALLA DE LEGUMINOSAS ******* -->
        <activity
            android:name=".PantallaLeguminosas"
            android:exported="false" />
        <!-- ************* PANTALLA DE GRASAS CON PROTE ******* -->
        <activity
            android:name=".PantallaGrasascnProte"
            android:exported="false" />
        <!-- ************* PANTALLA DE GRASAS SIN PROTE ******* -->
        <activity
            android:name=".PantallaGrassinprote"
            android:exported="false" />
        <!-- ************* PANTALLA DE LECHE Y DERIVADOS ******* -->
        <activity
            android:name=".PantallaLacteos"
            android:exported="false" />
        <!-- ************* PANTALLA DE IMC ******* -->
        <activity
            android:name=".PantallaIMC"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>