<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/fitplanner_icono2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fitplanner_icono2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".PantallaPierna"
            android:exported="false" />
        <activity
            android:name=".PantallaHombro"
            android:exported="false" />
        <activity
            android:name=".PantallaTriceps"
            android:exported="false" />
        <activity
            android:name=".PantallaBiceps"
            android:exported="false" />
        <activity
            android:name=".PantallaBrazo"
            android:exported="false" />
        <activity
            android:name=".PantallaEspalda"
            android:exported="false" />
        <activity
            android:name=".PantallaPectoral"
            android:exported="false" />
        <activity
            android:name=".ExplorarEjercicios"
            android:exported="false" />
        <activity
            android:name=".olvidarcontra"
            android:exported="false" />
        <activity
            android:name=".crearcuenta"
            android:exported="false" />
        <activity
            android:name=".pantalla2"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <!--*******************************************************************************-->
        <activity
            android:name=".ActivitySetEjercicios"
            android:exported="false" />

        <!-- PARTE DEL NAVBAR MI RUTINA
        <activity
            android:name=".PantallaSeleccionEjer"
            android:exported="false"/>-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>